/* Основные стили страницы */
body {font-family: 'Arial', sans-serif;background-image: radial-gradient(circle, #ff7e5f, #feb47b);margin: 0;padding: 0;
display: flex;flex-direction: column;align-items: center;justify-content: center;
transition: background-color 0.8s ease;color: rgb(255, 255, 255);}
body:hover {background-color: #899ca8;}
/* Стили контента */
.header {background-color: #333;color: white;padding: 20px;
text-align: center;margin-bottom: 20px;width: 100%;}
/* Стили основной части */
.main {background-color: #888888;padding: 20px;margin: 0 20px;box-shadow: 10px 10px 5px rgba(0, 0, 0, 0.5);}
/* Стили для заголовка */
h1 {color: #ffffff;margin-bottom: 20px;transition: color 0.6s ease;text-shadow: 2px 2px 4px #000000;text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.5);}
h1:hover {color: rgb(151, 243, 13);}
/* Стили подвала */
.footer {background-color: #333;color: white;padding: 10px;text-align: center;
margin-top: 20px;width: 100%;}
.sped{
    /* Базовые стили */
    padding: 8px 35px 8px 12px;
    border: 2px solid #4CAF50;
    border-radius: 6px;
    background-color: #f8f8f8;
    color: #333;
    font-size: 14px;
    font-family: 'Arial', sans-serif;
    cursor: pointer;
    appearance: none;
    transition: all 0.3s ease, border-radius 0.6s ease;
    border-radius: 11px 21px 11px 21px;
    /* Стрелка */
    background-color: #e9e9e9;
    background-repeat: no-repeat;
    background-position: right 10px center;
    background-size: 22px;
}
/* Состояние при наведении */
.sped:hover {
    border-radius: 11px 11px 11px 11px;
    border-color: #45a049;
    background-color: #fff;
    box-shadow: 0 2px 6px rgba(0,0,0,0.1);
}
/* Состояние в фокусе */
.sped:focus {
    outline: none;
    border-color: #ff7e5f;
    box-shadow: 65px rgba(76,175,80,0.2);
}
/* Выбранная опция */
.sped option:checked {
    background-color: #ff7e5f;
    color: black;
    font-weight: bold;
}